{% extends 'base.html' %} {% block content %}
<h2>Payment</h2>
<form
  action="{% url 'payment_process' order.id %}"
  method="post"
  id="payment-form"
>
  {% csrf_token %}
  <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="{{ stripe_publishable_key }}"
    data-amount="{{ order.get_total_cost|floatformat:2|int }}"
    data-name="E-Commerce Site"
    data-description="Order {{ order.id }}"
    data-currency="usd"
    data-locale="auto"
  ></script>
</form>
{% endblock %}
