{% extends 'base.html' %} {% block content %}
<h2 class="mb-4">Products</h2>
<!-- Container for the product list -->
<div
  class="product-list"
  style="height: 70vh; overflow-y: auto; overflow-x: hidden"
>
  <div class="row">
    {% for product in page_obj %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <a href="{% url 'product_detail' product.pk %}">
          <img
            src="{{ product.image.url }}"
            class="card-img-top"
            alt="{{ product.name }}"
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">${{ product.price }} USD</p>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Pagination Controls -->
<div class="d-flex justify-content-center mt-4">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1" class="btn btn-secondary">&laquo; First</a>
    <a
      href="?page={{ page_obj.previous_page_number }}"
      class="btn btn-secondary"
      >Previous</a
    >
    {% endif %}

    <span class="current mx-2">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary"
      >Next</a
    >
    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-secondary"
      >Last &raquo;</a
    >
    {% endif %}
  </span>
</div>
{% endblock %}
